.sf2-findgame__container {
    background-color: #00006b;
    height: 100vh;
}

.sf2-findgame__container h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    background: -webkit-linear-gradient(#ffb50e 50%, #ffd383 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sf2-findgame__container form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sf2-findgame__container input {
    width: 50%;
}

.sf2-findgame__container form button {
    width: 15%;
    margin-left: 2%;
}

.sf2-find-game__allresults,
.sf2-gameslist__algames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sf2-find-game__result {
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sf2-find-game__result h2 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    font-size: 1.5em;
    background: -webkit-linear-gradient(#ffb50e 50%, #ffd383 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sf2-find-game__result img {
    width: 600px;
    height: 400px;
}

.sf2-find-game__result button {
    width: 40%;
    align-self: center;
    margin-top: 5%;
}

@media (min-width: 1024px) {
    .sf2-find-game__result {
        width: 30%;
        margin-bottom: 6%;
    }

    .gameslist__game__title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5em;
        text-overflow: ellipsis;
    }

    .sf2-find-game__result img {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 1023px) and (min-width: 427px) {
    .sf2-findgame__container {
        padding-bottom: 7%;
        height: 100%;
    }
    
    .sf2-find-game__result img {
        width: 49%;
        height: 185px;
    }

    .sf2-find-game__result {
        width: 34%;
    }

    .sf2-find-game__result h2 {
        width: 100%;
    }

    .sf2-find-game__result img {
        width: 100%;
        height: 260px;
    }
}

@media (max-width: 426px) and (min-width: 320px) {
    .sf2-findgame__container {
        height: 100%;
    }

    .sf2-findgame__container .sf2-findgame__submit-btn {
        width: 25%;
    }

    .sf2-find-game__result {
        margin-bottom: 28%;
    }

    .sf2-find-game__result h2 {
        font-size: 1.25em;
        width: 200px;
    }

    .sf2-find-game__result img {
        width: 262px;
        height: 215px;
        margin-left: auto;
        margin-right: auto;
    }
}